.flex{
	display: flex;
}

#cpCharSheet{
	width: 70%;
	margin: auto;
}

.sec{
	width: 100%;
}
.sec>*{
	width: 50%;

}

.pannel{
	background-color: var(--darkGrey);
	border: 1px solid;
	box-shadow: 0 0 5px 2px var(--pink);
	padding: 15px;
	margin: 5px;
	border-radius: 3px;
}

.long-cell{
	width: 80%;
}